{% extends 'base.html.twig' %}

{% block title %}New Usuario{% endblock %}

{% block body %}
    <h1>Create new Usuario</h1>

    {{ include('admin/usuario/_form.html.twig') }}

    <a href="{{ path('admin_usuario_index') }}">back to list</a>
{% endblock %}
