{% extends 'base.html.twig' %}

{% block title %}New Etiqueta{% endblock %}

{% block body %}
    <h1>Create new Etiqueta</h1>

    {{ include('admin/etiqueta/_form.html.twig') }}

    <a href="{{ path('admin_etiqueta_index') }}">back to list</a>
{% endblock %}
